@import 'src';

.form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: flex-start;

   input[type=submit] {
    margin-left: auto;
   } 
}

.label {
  margin: 0;

  color: $color-text-light;
  font-size: 1.8rem;
}

