@import 'src';

.logoutButton {
  all: unset;

  text-transform: uppercase;
  color: $color-text-medium;
  font-weight: bold;
  font-size: $size-font-header-nav-link;

  cursor: pointer;

  &:hover {
    color: $color-text-emphasize;
  }

  &:focus {
    outline: 2px solid black;
  }
}