$color-background-light: white;
$color-background-dark: #665555;
$color-background-medium: tan;

$color-text-dark: black;
$color-text-emphasize:#9900FF;
$color-text-medium: #665555;
$color-text-light: white;
$color-text-error: red;
$color-text-success: green;