$color-background-light: white;
$color-background-dark: #009933;
$color-background-medium: lightgrey;

$color-text-light: white;
$color-text-medium: #665555;
$color-text-dark: black;

$color-text-emphasize:#9900FF;
$color-body-background-secondary: #9900FF;
$color-text-error: red;
$color-text-success: green;