@mixin background-polka-dot {
  background-image: radial-gradient($color-body-background-secondary 10%, transparent 0);
  background-size: 25px 25px;
  background-attachment: fixed;
}

@mixin button {
  padding: 0.5rem 1rem; 

  color: $color-text-medium;
  font-weight: bold;
  font-size: 1.1rem;

  background: $color-background-light; 
  border: 2px solid $color-background-dark;
  border-radius: 0.5rem;

  text-transform: uppercase;

  cursor:pointer;

  &:hover:not(:disabled) {
    color: $color-text-light;
    background-color: $color-background-dark;
    border-color:$color-background-medium;
  }

  &:active:not(:disabled) {
    color: $color-text-light;
    background-color: $color-text-emphasize;
    border-color:$color-background-medium;
  }

  &:disabled {
    color: $color-background-medium;
  }
}

@mixin authFormBgColor {
  background-color: $color-body-background-secondary;
}

@mixin authFormHeading {
  box-sizing: border-box;
  width: 480px;

  margin: 10vmin auto -1px auto;
  padding-top: 1rem;

  font-size: 2rem;
  text-align: center;
  color: $color-text-light;

  @include authFormBgColor();

  border-top: 1px solid $color-background-medium;
  border-left: 1px solid $color-background-medium;
  border-right: 1px solid $color-background-medium;

  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@mixin authForm {
  box-sizing: border-box;
  margin: auto;

  width: 480px;

  padding: 1rem 3rem 1rem 3rem;

  @include authFormBgColor();

  border-bottom: 1px solid $color-background-medium;
  border-left: 1px solid $color-background-medium;
  border-right: 1px solid $color-background-medium;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;

  label {
    display: block;
    color: $color-text-light;
    font-size: 1.5rem;
    margin-top: 0.4rem;

    &:last-of-type {
      margin-bottom: 1rem;
    }
  }

  input:not([type='submit']) {
    box-sizing: border-box;
    
    width: 100%;
    height: 2rem;

    margin-top: 0.2rem;

    font-size: 1.5rem;
    text-indent: 0.5rem;
   }

  input:not([type='text']) {
    display: block;
    margin-left: auto;
  }
}